
nav{
  background-color: white;
  padding: 1rem 1.5rem;
  height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  
}


.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fixed-nav .links a {
  color: gray;
}

.fixed-nav .links a:hover {
  color: blue;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.nav-toggle {
  font-size: 1.5rem;
  color: gray;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color:hsla(182, 63%, 54%);
}

.logo {
  height:5rem;
}

.links-container {
  // height: 0;
  overflow: hidden;
  transition:all 0.3s linear;
}

.show-links {
  height: 200px;
}

.links a {
  background:#fff;
  color: hsl(210, 22%, 49%);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  display: block;
  transition: all 0.3s linear;
  font-weight: bold;
  padding: 0.75rem 0;
}

.links a:hover {
  color: hsl(209, 61%, 16%);
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    height: 10vh;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }

  .nav-header span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    list-style: none;
  }
  .links a {
    background: transparent;
    color: gray;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    display: block;
    transition: all 0.3s linear;
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
  }

  .scroll-link::after {
    
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }
  
  .scroll-link:hover::after {
    width: 100%;
    transition: width .3s;
}

}


