.portfolio{
    margin: 3rem;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio h1{
    font-size: 3rem;
    font-weight: bold;
}


.main-portfolio {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    margin-left: 7rem;
    
}

@media only screen and (max-width: 956px) {

    .main-portfolio{
       
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        /* margin-left: 6rem; */
        
    }

}

/* @media only screen and (max-width: 408px) {

    .main-portfolio{
    
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        margin-left: 0rem;
        
    }

}  */

 @media only screen and (max-width: 648px) {

    .main-portfolio{
    
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        margin-left: 12rem;
        
    }

} 


 @media only screen and (max-width: 364px) {

    .main-portfolio{
       
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        align-items: center;
        margin-right: 4.3rem;
        
    }

} 

@media only screen and (max-width: 534px) {

    .main-portfolio{
        margin-left: 8rem;
    }

}  

/* @media only screen and (max-width: 610px) {

    .main-portfolio{
        margin-left: 7rem;
    }

}  */


@media only screen and (max-width: 483px) {

    .main-portfolio{
        margin-left: 0rem;
    }

} 

.portfolio_carte{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}