.portfolio{
    margin: 3rem;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio h1{
    font-size: 3rem;
    font-weight: bold;
}


.main-portfolio {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    gap: 1rem;
    margin-left: 7rem;
    
}

@media only screen and (max-width: 768px) {

    .main-portfolio{
       
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        
    }

}


 @media only screen and (max-width: 648px) {

    .main-portfolio{
    
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        
    }

} 


/* @media only screen and (max-width: 320px) {

    .main-portfolio{
       
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        align-items: center;
        margin-right: 4.3rem;
        
    }

} */


@media only screen and (max-width: 452px) {

    .main-portfolio{
        margin-left: 3rem;
    }

}  

@media only screen and (max-width: 364px) {

    .main-portfolio{
        margin-left: 0rem;
    }

} 