



.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5rem;
   

    @media screen and (max-width: 800px) {
        display: block;
      
      }

    .banner-profil__info{

        align-items: start;
        text-align: start;
        display: grid;
        gap: 2rem;

        &__intro{
            display: grid;
            gap: 2rem;

            h2{
                color: gray;
                font-size: 1.5rem;
                letter-spacing: 0.2rem;
            }

            h1{
                font-size: 6rem;
                font-weight: bold;
            }
            
            p{
                font-size: 1.5rem;
                letter-spacing: 0.3rem;
                line-height: 2.3rem;
                color: black;
            }
        }

        &__btn{
            display: flex;
            justify-content: flex-start;
         
           
            gap: 3rem;
         
            

            @media screen and (max-width: 800px) {
                display: flex;
                justify-content: center;
                align-items: center;
              }
        }        
    }

    .banner-profil__img{

        .imageProfil{
            height: 300px;

        @media screen and (max-width:  800px) {
            height: 200px;
            width: 250px;
          }
        }
        

    }

    .banner-profil__info__btn{
        a{
            text-decoration: none;
            color: black;
        }
    }
}