

.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    margin: 5rem;
    
    .contact-text{
        h1{
            font-weight: bold;
            font-size: 3rem;
        }
    }
    .contact-all{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;

        @media screen and (max-width: 952px) {
                display: block;
        }

        &__item{
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;

            p{
                font-size: 1.8rem;
                cursor: pointer;
                color: black;

                a{
                    text-decoration: none;
                    color: black;
                
                }
            }

            i{
                font-size: 5rem;
                font-size: 3rem;
            }
        }

    }
}